/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-copyright-date-block {

}

.file-editor {


}

.file-editor-layout {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.file-editor-stack {
    display: flex;
    gap: 5px;
}

.gap-bottom {
    margin-bottom: 20px;
}

.file-editor-tab {
    margin-top: 20px;
}

.notations-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    thead {
        background: var(--thermal-slate-light);
        font-weight: normal;
        text-align: left;
    }

    td, th {
        padding: 5px 7px;
    }

    td {
        border-bottom: 1px solid var(--thermal-slate-light);
    }

}

.notation-image {
    width: 100%;
    height: auto;
    max-width: 100px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 10, 0.2);
    &:hover {
        box-shadow: 0 0 10px var(--wp-admin-theme-color);
    }
}

.file-upload-cell {
    vertical-align: center;
}
